<div class="content__info">
    <div class="content__info-logo">
        <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="">
    </div>
    <div class="content__info-text">
        <p>Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.These Angular docs help you learn and use the Angular framework and development platform, from your first application to optimizing complex single-page apps for enterprises. Tutorials and guides include downloadable examples to accelerate your projects.</p>
    </div>
</div>