.formulario{
    width: 300px;
}
.form__group{
    padding: .5em 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}
label{
    padding-right: 1em .5em;
    margin: .5em 0;
    text-transform: uppercase;
    font-weight: bold;
}
button{
    margin-top: 1em;
    padding: .6em;
    width: 100%;
    text-transform: uppercase;
}
input{
    height: 1.5em;
}
input[type="range"]{
    height: 1.5em;
}
select{
    height: 2em;
}