<div class="about">
    <div class="about__profile">
        <div class="about__profile-photo">
            <img src="https://avatars.githubusercontent.com/u/60831909?v=4" alt="">
        </div>
        <div class="about__profile-user">
            <h2>Cristian Camilo Rodriguez</h2>
            <p>RodCri</p>
            <span>Colombia -  Bogotá</span>
        </div>
    </div>
    <div class="about__readme">
        <li>👋 Hi, I’m @RodCri Cristian Camilo Rodriguez, I´m development full stack</li>
        <li>👀 I’m interested in the development web</li>
        <li>🌱 I’m currently learning tecnologys of developtment front end, ReactJs AngularJs</li>
        <li>📫 How to reach me Phone +57 3118263057 Email: cristian.rodriguez1317@gmail.com</li>
    </div>
</div>