<h1>Formulario register Employee</h1>
<form [formGroup]="formNewEmployee" (ngSubmit)="register()">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" formControlName="name">
        <div class="error" *ngIf="formNewEmployee.controls.name.errors && formNewEmployee.controls.name.touched">
            The name field is required
        </div>
    </div>
    <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
        <div class="error" *ngIf="formNewEmployee.controls.lastName.errors && formNewEmployee.controls.lastName.touched">
            The Last name field is required
        </div>
    </div>
    <div class="form-group">
        <label for="">Age</label>
        <input type="text" class="form-control" formControlName="age">
    </div>
    <div class="form-group">
        <label for="">Department</label>
        <select formControlName="department" class="form-select">
            <option value="informatica">Informatica</option>
            <option value="marketing">Marketing</option>
            <option value="contabilidad">Contabilidad</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group">
        <label for="">Photo</label>
        <input type="test" class="form-control" formControlName="photo">
    </div>
    <input type="submit" value="Enviar" class="btn btn-block btn-info w-100" [disabled]="!formNewEmployee.valid">
</form>