*{
    text-decoration:none; 
    list-style:none; 
    outline:none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.active-link{
    background-color:#002e5b; 
    color: lightyellow !important;
}
.box__register{
    width: 90%;
    background-color: lightgrey;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.products{
    width: 60%;
    padding: 0 10px;
}
.account{
    width: 40%;
}
.contenedor{
    width: 90%;
    margin: 0 auto;
    
}
.register{
    border: 1px solid black;
    text-align: center;
    padding: 1.5em;
}
.list{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 1.5em;
}
.list__select{
    width: 50%;
}
.list__car{
    width: 50%;
}
/* Menu responsive */

section{
    width:100%; 
    max-width:1200px; 
    margin:0px auto; 
    display:table; 
    position:relative;
}
header{
    width:100%; 
    display:table; 
    background-color:#fde428; 
    margin-bottom:50px;
}
#logo{
    float:left; 
    font-size:24px; 
    text-transform:uppercase; 
    color:#002e5b; 
    font-weight:600; 
    padding:20px 0px;
}
nav{
    width:auto; 
    float:right;
}
nav ul{
    margin: 0 2em;
    display:table; 
    float:right;
}
nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;
}
nav ul li a{
    color:#002e5b; 
    font-size:18px; 
    padding: 25px 20px; 
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:#002e5b; 
    color:#fde428; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover i{
    color:#fde428; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#002e5b; 
    transition: all 0.5s ease 0s;
}

.toggle-menu ul{display:table; width:25px;}
.toggle-menu ul li{width:100%; height:3px; background-color:#002e5b; margin-bottom:4px;}
.toggle-menu ul li:last-child{margin-bottom:0px;}

input[type=checkbox], label{display:none;}

@media only screen and (max-width: 1440px) {
    section{
        max-width:100%;
    }
    #logo{
        margin: 0 2em;
    }
    label{
        margin: 0 2em;
    }
}
@media only screen and (max-width: 980px) {
    header{
        padding:20px 0px;
    }
    #logo{
        padding:0px;
    }
    input[type=checkbox] {
        position: absolute; 
        top: -9999px; 
        left: -9999px; 
        background:none;
    }
    input[type=checkbox]:fous{
        background:none;
    }
    label {
        padding:8px 0px; 
        display:block; 
        cursor:pointer; 
        float: right;
    }
    nav ul{
        margin: 0;
    }
    input[type=checkbox]:checked ~ nav {display:block;}

    nav{
        display:none; 
        position:absolute; 
        right:0px; 
        top:53px; 
        background-color:#002e5b; 
        padding:0px; 
        z-index:99;
        width: 100%;
    }
    nav ul{
        width:100%;
    }
    nav ul li{
        float:none; 
        padding:0px; 
        width:100%; 
        display:table;
    }
nav ul li a{
    color:#FFF; 
    font-size:15px; 
    padding:10px 20px; 
    display:block; 
    border-bottom: 1px solid rgba(225,225,225,0.1);
}
nav ul li a i{
    color:#fde428; padding-right:13px;}
    .active-link{
        text-decoration: underline;        
    }
}
@media only screen and (max-width: 360px) {
    label{
        padding:5px 0px;
    }
    #logo{
        font-size: 20px;
    }
    nav{
        top:47px;
    }
}
