.box__register{
    width: 90%;
    background-color: lightgrey;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.products{
    width: 60%;
    padding: 0 10px;
}
.account{
    width: 40%;
}
.contenedor{
    width: 80%;
    margin: 0 auto;
    background-color: lightsteelblue;
}
.register{
    border: 1px solid black;
    text-align: center;
    padding: 1.5em;
}
.list{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    padding: 1.5em;
}
.list__select{
    width: 50%;
}
.list__car{
    width: 50%;
}
