<!-- <app-calculator message="Cambio de mensaje decorador input"></app-calculator> -->

<!-- <app-task (taskCreate)="onTaskCreate($event)"></app-task>
<app-list-task [tasks]="tasks"></app-list-task> -->

<!-- <div class="box__register">
    <div class="products">
        <app-product categoryProduct="Comida" [productos]="arrComida" (productoSeleccionado)="onProuctoSeleccionado($event)"></app-product>
        <app-product categoryProduct="Bebidas" [productos]="arrBebida" (productoSeleccionado)="onProuctoSeleccionado($event)"></app-product>
    </div>
    <div class="account">
        <app-account [arrProductos]="arrProductos"></app-account>
    </div>
</div> -->

<!-- <div class="contenedor">
    <div class="register">
        <app-formulario (productoCreado)="onProductoCreado($event)"></app-formulario>
    </div>
    <div class="list">
        <div class="list__select">
            <app-lista-productos [productos]="productosSeleccionados" (productoSeleccionadoCompra)="onProductoSeleccionadoCompra($event)" txtButton="Comprar" txtTitle="Productos Seleccionados"></app-lista-productos>
        </div>
        <div class="list__car">
            <app-lista-productos [productos]="productosComprados" txtButton="Quitar" txtTitle="Productos Comprados" (productoSeleccionadoCompra)="onProductoEliminadoCompra($event)"></app-lista-productos>
        </div>
    </div>
</div> -->

<!-- <div class="rutas">
    <a [routerLink]="['/calculator']" routerLinkActive="activa">Calculadora</a>    
</div>
<router-outlet></router-outlet> -->

<!-- // Rest API getArticles
<app-articles></app-articles> -->

<header>
    <section>
        <a href="#" id="logo" target="_blank">Mayur Suthar</a>
        <label for="toggle-1" class="toggle-menu"><ul><li></li> <li></li> <li></li></ul></label>
        <input type="checkbox" id="toggle-1">
    <nav>
        <ul>
            <li><a [routerLink]="['/info']" routerLinkActive="active-link">Information</a></li>
            <li><a [routerLink]="['/about']" routerLinkActive="active-link">About</a></li>
            <li><a [routerLink]="['/cli']" routerLinkActive="active-link">Clients</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="active-link">Contact</a></li>
        </ul>
    </nav>
    </section>
</header>
<div class="contenedor">
    <router-outlet></router-outlet>
</div>