h2{
    background-color: blanchedalmond;
    text-transform: uppercase;
    text-align: center;
}
.content__products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.product{
    width: 32%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
}
.product img{
    width: 100%;
    height: 20%;
    object-fit: cover;
}
p{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
