<h2>Fromulario de tipo Template</h2>
<!-- Variable de plantilla #formularioRegistro 
ademas capturamos el evento ngSubmit con todos los valores del formulario
para lo cual debemos marcar todos los input con el ngModel ademas de 
identificarlos con su respectivo nombre -->
<form #formularioRegistro="ngForm" (ngSubmit)="registro(formularioRegistro.value)">
    <div class="form-group my-3">
        <label>Name</label>
        <input type="text" name="nombre" class="form-control" ngModel>
    </div>
    <div class="form-group my-3">
        <label>Apellidos</label>
        <input type="text" name="apellidos" class="form-control" ngModel>
    </div>
    <div class="form-group my-3">
        <label>Edad</label>
        <input type="text" name="edad" class="form-control" ngModel>
    </div>
    <div class="form-group my-3">
        <label>Direccion</label>
        <input type="text" name="direccion" class="form-control" ngModel>
    </div>
    <input type="submit" value="Enviar" class="btn btn-block w-100 btn-primary my-3">
</form>
{{formularioRegistro.value | json}}